extends layout

block content
  div.container
    div.row
      div.col-xs-12.col-sm-9
        // 寻物信息
        if posts.length > 0
          div.panel.panel-default
            div.panel-heading
              | #{title}
            div.table-responsive
              table.table.table-hover
                tr
                  th 物品类别
                  th 物品名称
                  th 丢失时间
                  th 丢失地点
                  th 详情
                each post in posts
                  tr
                    td #{post.itemCategory}
                    td #{post.itemName}
                    td #{post.itemTime.getFullYear()}-#{post.itemTime.getMonth()+1}-#{post.itemTime.getDate()}
                    td #{post.itemPlace}
                    td
                      a(href='/post/#{post._id}')
                        if post.itemDetial.length > 25
                          | #{post.itemDetial.slice(0,25)}...
                        else
                          | #{post.itemDetial}

      div.hidden-xs.col-sm-3
        include includes/sidebar