extends layout

block content
  div.container
    div.row
      div.col-xs-12.col-sm-9
        div.panel.panel-default
          div.panel-heading 高级搜索
          div.panel-body
            form.form-horizontal(action='/search', method='post')
              div.form-group.col-sm-6
                label.col-sm-4.col-xs-4.control-label 事件类型
                div.col-sm-8.col-xs-8
                  select.form-control(name='postCategory')
                    option(value='2') 请选择
                    option(value='1') 寻物信息
                    option(value='0') 招领信息
              div.form-group.col-sm-6
                label.col-sm-4.col-xs-4.control-label 物品类别
                div.col-sm-8.col-xs-8
                  select.form-control(name='itemCategory')
                    option(value='0') 请选择
                    option(value='卡类证件') 卡类证件
                    option(value='随身物品') 随身物品
                    option(value='电子产品') 电子产品
                    option(value='书籍资料') 书籍资料
                    option(value='衣服饰品') 衣服饰品
                    option(value='其他物品') 其他物品
              div.form-group.col-sm-6
                label.col-sm-4.col-xs-4.control-label 关键字
                div.col-sm-8.col-xs-8
                  input.form-control(type='text', placeholder='输入关键字', name='keywords' required)
              div.form-group.col-sm-6
                label.col-sm-4.col-xs-4.control-label 事件地点
                div.col-sm-8.col-xs-8
                  input.form-control(type='text', placeholder='事件发生地点', name='itemPlace')
              div.form-group.col-sm-6
                label.col-sm-4.col-xs-4.control-label 开始时间
                div.col-sm-8.col-xs-8
                  input.form-control(type='date', placeholder='丢失地点', name='sTime')
              div.form-group.col-sm-6
                label.col-sm-4.col-xs-4.control-label 结束时间
                div.col-sm-8.col-xs-8
                  input.form-control(type='date', placeholder='丢失地点', name='eTime')
              div.form-group.col-sm-12
                div.text-center
                  button.btn.btn-primary(type='submit') 开始搜索
        // 信息
        if posts.length > 0
          div.panel.panel-default
            div.panel-heading
              | 搜索结果
            div.table-responsive
              table.table.table-hover
                tr
                  th 信息类别
                  th 物品名称
                  th 丢失时间
                  th 丢失地点
                  th 详情
                each post in posts
                  tr
                    td
                      if post.postType == 0
                        | 招领信息
                      else
                        | 寻物信息
                    td #{post.itemName}
                    td #{post.itemTime.getFullYear()}-#{post.itemTime.getMonth()+1}-#{post.itemTime.getDate()}
                    td #{post.itemPlace}
                    td
                      a(href='/post/#{post._id}')
                        if post.itemDetial.length > 25
                          | #{post.itemDetial.slice(0,25)}...
                        else
                          | #{post.itemDetial}
      div.hidden-xs.col-sm-3
        include includes/sidebar